/* עיצוב כללי לרשימת האלבומים */
.container {
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
.albumItem {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    /* margin: auto; */
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
}

/* כאשר המקש מופעל, האלבום מזזז טיפה */
.albumItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* כותרת אלבום */
.albumHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
}

/* כפתור ההוספה */
.addAlbumButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

/* שינוי צבע כפתור ההוספה בעת ריחוף */
.addAlbumButton:hover {
    background-color: #0056b3;
}

/* כפתורי פעולה כמו עריכה ומחיקה */
.albumActions {
    display: flex;
    justify-content:center;
    gap: 1rem;
}

.albumActions button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.4rem 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

/* שינוי צבעים כשמעבירים מעל כפתורי פעולה */
.albumActions button:hover {
    background-color: #218838;
}

/* עיצוב הקטגוריה והחיפוש */
.searchWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-bottom: 1.5rem; */
}

.searchWrapper label {
    font-weight: 600;
}

.searchWrapper input {
    padding: 0.5rem;
    /* margin-top: 1rem; */
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* עיצוב עבור כפתור הוספה */
.addAlbumWrapper {
    display: flex;
    align-items: center;
    justify-content:center;
    /* flex-direction: column; */
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.addAlbumWrapper input {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}
